.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidnav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.material-icons {
    vertical-align: middle;
}

.content {
    padding: 16px;
    background-color: #fff;
    color: black;
}