<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item>
                <i class="material-icons">home</i>Início
            </a>
            <a mat-list-item>
                <i class="material-icons">storefront</i>Loja
            </a>
            <a mat-list-item>
                <i class="material-icons">person</i> Cadastrar
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
